<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SANKOFA CODES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Anton" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="magnific-popup.css">
    <link rel="stylesheet" href="jquery-ui.css">
    <link rel="stylesheet" href="owl.carousel.min.css">
    <link rel="stylesheet" href="owl.theme.default.min.css">
    <link rel="stylesheet" href="bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="aos.css">
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
      <div class="container">
        <div class="row align-items-center position-relative">
            <div class="site-logo">
              <a href="/" class="text-black"><span class="text-primary">SANKOFA CODES</a>
              <img class="logo"src="img/sclogo.png" alt="">
              <nav class="site-navigation text-center ml-auto" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#discover-section" class="nav-link">ABOUT</a></li>
                  <li><a href="#team-section" class="nav-link">MISSION</a></li>
                  <li><a href="#contact-section" class="nav-link">CONTACT</a></li>
                  <li><a href="/signup">SIGNUP</a></li>
                  <li><a href="/login">LOGIN</a></li>
                </ul>
              </nav>
            </div>
        </div>
      </div>
    </header>

    <div class="slideShow img-fluid img-responsive">
      <img class="mySlides" src="img/boyy.jpg" style="width:100%">
      <img class="mySlides" src="img/code.jpg" style="width:100%">
      <img class="mySlides" src="img/pointingkid.jpg" style="width:100%">
      <img class="mySlides" src="img/niece.jpg" style="width:100%">

    </div>


    <div class="d-block d-md-flex intro-engage">
      <div>
        <h2>Free Coding Education</h2>
        <p>Take some time to invest in yourself and learn how to code with Sankofa Codes.</p>
      </div>
      <div>
        <h2>Opportunity</h2>
        <p>Having the opportunity to learn how to code could be extremely resourceful.</p>
      </div>
      <div class="">
        <h2>Mentors Available</h2>
        <p>Utilize the help of industry professionals in your corner.</p>
      </div>

    </div>

    <div class="site-section bg-image overlay counter" style="background-image: url('images/hero_1_no-text.jpg');" id="about-section">
      <div class="container">
        <div class="row mb-5">

          <div class="col-lg-5 ml-auto align-self-lg-center" id="team-section">
            <h2 class="text-black mb-4 text-uppercase section-title">Our Mission</h2>
            <p class="text-black">Sankofa Codes is a program that teaches children and all interested computer programming skills in Ghana.</p>
            <p class="text-black">Anyone can join any of our coding programs from Schools, Community Centers and Libraries to learn to create computer games, animations, interactive arts, websites and mobile apps.</p>
          </div>
          <div class="col-lg-5 ml-auto align-self-lg-center">
            <img src="img/duras.jpg" class="img-fluid"alt="">
          </div>
         </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light counter" id="discover-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="row mb-5 justify-content-center">
            <div class="col-lg-5 ml-auto align-self-lg-center">
              <img src="img/fidelity.jpg" class="img-fluid"alt="">
            </div>
            <div class="col-md-7 text-center">
                <h2 class="text-black text-uppercase section-title">Founder</h2>
                <p>Sankofa Codes was founded by Lloyd Assan. He was only 19 when he arrived in the USA from Ghana, West Africa to pursue his American Dream without his family. He was alone with only a few dollars in my pocket. And at a very young age he learned resilience and independence, but more importantly he learned the importance of community and service to others. Indeed, it is the kindness and support of a small church community in Bronx, N.Y.  that helped keep him afloat.
              </p>
              <p>Lloyd has in turn dedicated his life to help others, whether it is by serving in the U.S.A. Army or by leading volunteer service trips to Honduras and the Dominican Republic. As a Software Engineer he carries these values with him and looks forward to building the tools that will solve the world's biggest challenges.
              </p>
              <p>
              He named this Sankofa Codes because of being able to give back to his country, and its youth. Sankofa is a metaphorical symbol from the Ashanti region of Ghana. Ultimately he is very passionate about this project positively impacting everyone it touches and providing the opportunity to learn a skill that can change their lives as it has changed his.</p>
            </div>
          </div>
        </div>
       </div>
      </div>


    <div class="site-section bg-image overlay counter" id="contact-section">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 mb-4">
            <figure class="block-img-video-1" data-aos="fade">
              <a href="https://vimeo.com/45830194" class="popup-vimeo">
                <span class="icon"><span class="icon-play"></span></span>
                <a href="show up"><img src="boy.jpg" alt="Image" class="img-fluid"></a>
              </a>
            </figure>
          </div>
          <div class="col-12 text-center mb-5">
            <h2 class="text-black section-title text-uppercase">Contact Us</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 mb-5">
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email address">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 ml-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message">
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Sankofa Codes is a program that teaches children and all interested computer programming skills in Ghana.</p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4 ml-auto">
            <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
              </div>


              <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        </div>
    </footer>


  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/main.js"></script>
  <script src="homemade.js"></script>
  </body>
</html>
