<!doctype html>
<html>
<head>
    <title>CODE GHANA</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="signup.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Anton" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="magnific-popup.css">
    <link rel="stylesheet" href="jquery-ui.css">
    <link rel="stylesheet" href="owl.carousel.min.css">
    <link rel="stylesheet" href="owl.theme.default.min.css">
    <link rel="stylesheet" href="bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="aos.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
  <header class="site-navbar js-sticky-header site-navbar-target navbar navbar-expand-lg navbar-light bg-light" role="banner">
    <div class="">
      <div class="row align-items-center position-relative">
          <div class="site-logo ml-5">
            <a href="/" class="text-black"><span class="text-primary">SANKOFA CODES</a>
            <img class="logo"src="img/sclogo.png" alt="">
            <nav class="site-navigation text-center ml-auto" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li><a href="/" class="nav-link">ABOUT</a></li>
                <li><a href="/" class="nav-link">MISSION</a></li>
                <li><a href="/" class="nav-link">CONTACT</a></li>
                <li><a href="/login">LOGIN</a></li>

              </ul>
            </nav>
          </div>

        <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>
  </header>

<div class="container mb-5 pt-5 signContainer">
<div class="col-sm-6 col-sm-offset-3">

  <section class="contain">
      <h3>Sign-Up</h3>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Full-Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <!-- <div class="form-group">
            <label for="">Mentor?</label>
            <input type="checkbox" class="form-control" name="mentor" value="">
        </div> -->
        <section class='text-center'>
          <button type="submit" class="btn btn-danger btn-lg text-center mb-3 mt-3">Signup</button>
        </section>

    </form>
  </section>

    <p>Already have an account?  <a href="/login">Login</a></p>
    <p>Or back to <a href="/">Homepage</a>.</p>

</div>
</div>
</body>
</html>
